/* LoginsStyles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background-color: rgb(218, 214, 214);
    border-radius: 35px;
    padding: 30px;
    width: 900px;
    height: 800px;
    text-align: center;
    align-self: center;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button.submit {
    background: linear-gradient(to right, #4CAF50, #00BFFF); /* Light green to light blue gradient */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 50px;
    transition: background 0.3s ease;
}

button.submit:hover {
    background: linear-gradient(to right, #45a049, #1e90ff); /* Darker gradient on hover */
}

.span {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.span a {
    color: #007bff;
}

.input-span {
    margin-bottom: 20px;
}
